{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Road and rubber{% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="container">
        <p>
           <h3>Stock cars</h3>
        </p>
        <p>
           <img src="static/audi.png"/>
        </p>
        <p>
            <img src="static/ferrari.png"/>
        </p>
        <p>
            <img src="static/lambo.png"/>
        </p>
        <p>
            <img src="static/mclaren.png"/>
        </p>
        <p>
            <img src="static/merc.png"/>
        </p>
        <p>
            <img src="static/mustang.png"/>
        </p>

    </div>
</div>
{% endblock %}
